.heroContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.detailsWrapper {
  width: 70rem;
  height: 100vh;
}

.detailsWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}

.heading {
  font-size: 5.2rem;
}

.colorTeritiary {
  color: var(--secondary);
  margin-right: 1rem;
}

.headingContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
}

.infoWrapper {
  margin-top: 2rem;
}

.info {
  font-size: 1.8rem;
}

.roleContainer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.role {
  padding: 1rem;
  color: var(--secondary);
  font-size: 2.2rem;
  font-weight: 600;
  border-radius: 10rem;
}

.imgWrapper {
  width: 65.5%;
}

.imgWrapper img {
  height: 80vh;
}

.button {
  all: unset;
  padding: 1.2rem 2.4rem;
  font-size: 1.8rem;
  color: #fff;
  background-color: var(--secondary);
  border: 2px solid var(--secondary);
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.button:hover {
  background-color: var(--white);
  border: 2px solid var(--secondary);
  color: var(--secondary);
}

@media only screen and (max-width: 1200px) {
  .heroContainer {
    align-items: center;
  }
  .imgWrapper {
    width: 100rem;
    height: 100vh;
  }
  .detailsWrapper {
    margin-left: 3rem;
    height: 100%;
    width: 50vh;
    align-items: center;
  }
  .heading {
    font-size: 3.4rem;
  }
  .info {
    font-size: 1.2rem;
  }
}

@media only screen and (max-width: 900px) {
  .imgWrapper {
    display: none;
  }

  .detailsWrapper {
    width: 100%;
    margin-bottom: 3rem;
  }

  .headingContainer {
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

@media only screen and (max-width: 600px) {
  .heading {
    font-size: 3.6rem;
  }
  .info {
    font-size: 1.6rem;
  }
  .headingContainer {
    margin-left: 4%;
    text-align: center;
  }
  .detailsWrapper {
    height: 83vh;
    margin: 0 3rem;
    text-align: center;
    align-items: center;
    justify-content: center;
  }
}
