.projectContainer {
  margin-top: 7rem;
}

.projects {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

@media only screen and (max-width: 900px) {
  .projects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media only screen and (max-width: 600px) {
  .projects {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
